<div class="allcontainer">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="newheader">
      <div>&nbsp;<%= link_to "<", root_path, class: "rawlinkwhite" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div>REGISTER</div>
      <div><%= f.submit "Sign up", class: 'submitlogin' %>&nbsp;</div>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>
    <div class="logincontainer">

      <div class="fieldcontainer">
        <%= f.label :name, class: "hidden" %>
        <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "field" %>
      </div>

      <div class="fieldcontainer">
        <%= f.label :email, class: "hidden" %>
        <%= f.email_field :email, placeholder: "Email", class: "field" %>
      </div>

      <div class="fieldcontainer">
        <%= f.password_field :password, placeholder: "Password", class: "field" %>
      </div>

      <div class="fieldcontainer">
      <%= f.label :password_confirmation, class: "hidden" %>
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "field" %>
      </div>

    </div>
  <% end %>

  <div class="fpcontainer">
    <%= link_to "Confirmation instructions?", new_confirmation_path(resource_name), class: "rawlink" %><br />
  </div>
  <div class="spacer">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>

</div>
